.tab {
    grid-size: 8 8;
    grid-columns: 10 10 10 10 10 10 10 10;
    grid-rows: 6 6 6 6 6 6 6;
        
    grid-gutter: 0;
        
    align: center middle;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    }

CTabuleiro {
    width: 10;
    height: 6;
    content-align: center middle;
    margin: 0;
    padding: 0;


 }

.pecas_promo {
    grid-size: 1 4;
    grid-columns: 7;
    grid-rows: 7 7 7 7;
        
    grid-gutter: 0;
        
    align: center middle;

    margin: 0;
    padding: 0;
    margin-left:1;
    width: 7;
}

.casa-clara {
    background: #f0d9b5;
}

.casa-escura {
    background: #b58863;
}


.timeb{
	width: auto;
	height: auto;
    padding: 0;
	margin: 0;
}

.timew {
	width: auto;
	height: auto;

	margin: 0;
    padding: 0;
    padding-left: 10;
}

.selected {
    background: #829769;
}

.xeque {
    background: #e0a5a5;
}

.label {
    height: 3;
    content-align: left top;
    width: auto;
}

.container {
    height: auto;
    width: auto;
    padding-left:10;
}

.lances {
    width: 20;
    height: auto;
    background: $surface;
    padding: 1;
    
}

.info {
    width: auto;
    height: auto;
    min-width: 28; 
}


.lastcasa{
    background: #aaa23a;
}

.nowcasa {
    background: #cdd26a;
}

.rolavel {
    height: 30;
    padding: 1;
    margin-right:20;


}

.flip {
    padding: 0;
    padding-left: 5;
    margin: 0;
    margin-bottom: 1;
}