    Grid {
        grid-size: 8 8;
        grid-columns: 11 11 11 11 11 11 11 11;
        grid-rows: 6 6 6 6 6 6 6 6;
        
        grid-gutter: 0;
        
        align: center middle;
        width: 80%;
        height: 100%;
    }

    CTabuleiro {
        width: 11;
        height: 6;
        content-align: center middle;



    }

.casa-clara {
    background: #f0d9b5;
}

.casa-escura {
    background: #b58863;
}


.timeb{
	width: auto;
	height: auto;
	margin: 0;
}

.timew {
	width: auto;
	height: auto;

	margin: 0;
}

